$gray : #95a5a6;
#ModalRegister{
  label{
    display: block;
    font-weight: 500;
    font-size: 14px;
  }
  input{
    display: block;
    width: 100%;
    padding: 8px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid $gray;
  }
}