.hint-button svg{
    vertical-align: bottom;
    margin-right: 5px;
}
.hint-button{
    font-weight: 500;
}
.hint-content{
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1.25rem;
    margin-top: 10px;
}
.Content{
    margin-top: 60px;
    min-height: calc(100vh - 100px);
}
.Title{
    font-size: 1.7rem;
    color: #2980b9;
}