@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace !important;
  font-weight: 500 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .5s;
  background-size: 100% 100%;
  background-image: linear-gradient(16deg, rgba(116, 116, 116,0.02) 0%, rgba(116, 116, 116,0.02) 25%,transparent 25%, transparent 96%,rgba(177, 177, 177,0.02) 96%, rgba(177, 177, 177,0.02) 100%),linear-gradient(236deg, rgba(148, 148, 148,0.02) 0%, rgba(148, 148, 148,0.02) 53%,transparent 53%, transparent 59%,rgba(56, 56, 56,0.02) 59%, rgba(56, 56, 56,0.02) 100%),linear-gradient(284deg, rgba(16, 16, 16,0.02) 0%, rgba(16, 16, 16,0.02) 46%,transparent 46%, transparent 71%,rgba(181, 181, 181,0.02) 71%, rgba(181, 181, 181,0.02) 100%),linear-gradient(316deg, rgba(197, 197, 197,0.02) 0%, rgba(197, 197, 197,0.02) 26%,transparent 26%, transparent 49%,rgba(58, 58, 58,0.02) 49%, rgba(58, 58, 58,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
  &:hover{
    background-size: 112% 112%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

input {
  padding: 0 10px;
}

.hint-button {
  cursor: pointer;
}

.Link {
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}

.swal-text {
  font-size: 18px;
  font-weight: 500;
}

.Button {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 8px 20px;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  background: #2980b9;

  &:active, &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  &--full {
    width: 100%;
    display: block;
  }
}

.Title {
  font-weight: 600;
  font-size: 27px;
}

.swal-title {
  margin-bottom: 20px;
}

.object .badge-secondary {
  opacity: .5;
}

.object-exercise .badge-secondary {
  opacity: 1;
}

.box-active {
  margin-top: 60px;
  height: calc(100vh - 60px);
  background: #2980b9;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h4 {
    font-size: 24px;

  }

  p {
    font-size: 18px;
  }

  .button-active {
    padding: 15px 50px;
    cursor: pointer;
    background: #ffffff;
    color: #2980b9;
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }
}

.modal-300w {
  width: 300px !important;
  max-width: unset !important;
}

.title {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  padding: 10px 0;
  margin-bottom: 45px;

  &:after {
    content: "";
    position: absolute;
    height: 3px;
    background: #5d78ff;
    width: 100px;
    bottom: 0;
    left: 0;
  }
}

.btn, .badge {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.test__bottom {
  position: fixed;
  height: 50px;
  width: 100%;
  left: 0;
  background: #ffffff;
  bottom: 0;
  z-index: 5;
  box-shadow: 1px 0 0  2px #000;
}
.test__bar{
  height: 10px;
  width: 700px;
  background: #dadada;
  position: relative;
  &__process{
    position: absolute;
    left: 0;
    height: 10px;
    width: 100%;
    background: #5d78ff;
  }
}
.user__dropdown{
  left: unset!important;
  ul{
    li{
      white-space: nowrap;
      border-bottom: 1px solid #dedede;
    }
  }
}
.forgot-pass{
  cursor: pointer;
  font-size: 15px;
  color: rgba(0,0,0,.7);
  &:hover{
    color:#5d78ff ;
    text-decoration: underline;
  }
}
.card{
  border: none!important;
}
.count-up{
  text-align: center;
  padding: 50px;
  cursor: pointer;
  color: #ffffff;
  transition: .5s;
  background-size: 100% 100%;
  background-image: linear-gradient(328deg, rgba(29, 29, 29, 0.05) 0%, rgba(29, 29, 29, 0.05) 25%,rgba(226, 226, 226, 0.05) 25%, rgba(226, 226, 226, 0.05) 50%,rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%,rgba(216, 216, 216, 0.05) 75%, rgba(216, 216, 216, 0.05) 100%),linear-gradient(172deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%,rgba(108, 108, 108, 0.05) 25%, rgba(108, 108, 108, 0.05) 50%,rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%,rgba(236, 236, 236, 0.05) 75%, rgba(236, 236, 236, 0.05) 100%),linear-gradient(207deg, rgba(153, 153, 153, 0.05) 0%, rgba(153, 153, 153, 0.05) 25%,rgba(83, 83, 83, 0.05) 25%, rgba(83, 83, 83, 0.05) 50%,rgba(5, 5, 5, 0.05) 50%, rgba(5, 5, 5, 0.05) 75%,rgba(82, 82, 82, 0.05) 75%, rgba(82, 82, 82, 0.05) 100%),linear-gradient(297deg, rgba(26, 26, 26, 0.05) 0%, rgba(26, 26, 26, 0.05) 25%,rgba(223, 223, 223, 0.05) 25%, rgba(223, 223, 223, 0.05) 50%,rgba(232, 232, 232, 0.05) 50%, rgba(232, 232, 232, 0.05) 75%,rgba(153, 153, 153, 0.05) 75%, rgba(153, 153, 153, 0.05) 100%),linear-gradient(204deg, rgba(120, 120, 120, 0.05) 0%, rgba(120, 120, 120, 0.05) 25%,rgba(191, 191, 191, 0.05) 25%, rgba(191, 191, 191, 0.05) 50%,rgba(246, 246, 246, 0.05) 50%, rgba(246, 246, 246, 0.05) 75%,rgba(123, 123, 123, 0.05) 75%, rgba(123, 123, 123, 0.05) 100%),linear-gradient(90deg, rgb(32,234,255),rgb(37,116,255));
  &:hover{
    transition: .5s;
    background-size: 112% 112%;
  }
  text-transform: uppercase;
  h2{
    margin-bottom: 15px;
    white-space: nowrap;
    font-size: 75px;
    font-weight: 900;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
  h5{
    white-space: nowrap;
    font-size: 30px;
  }
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}